body {
	--white: #fff;
	--white-off: #f0f0f0;
	--white-dark: #e0e0e0;
	--grey-light: #a0a0a0;
	--grey: #707070;
	--black: #000;
	
	display: inline-block;
	width: 288px;
}
body > * {
	margin: 0 auto;
}

form {
	display: inline-block;
	height: auto;
	width: 256px;
	white-space: nowrap;
}
form > * {
	display: inline-block;
	height: 24px;
	padding: 0;
	margin: 0;
	vertical-align: middle;
}

form > input[type=number] {
	width: 48px;
	text-align: right;
	
	font-weight: bold;
	
	border: solid 1px var(--white-dark);
	border-radius: 4px;
	color: var(--grey);
}
form > input[type=number]:focus {
	border: solid 1px transparent;
}

form > input[type=range] {
	height: 8px;
	width: 200px;
	margin: 0 4px 0 4px;
	
	-webkit-appearance: none;
	border-radius: 4px;
	
	transition: all 0.2s ease-in-out;
}
form > input[type=range]:focus {
	outline: 0;
}
form > input[type=range]:hover {
	background-color: var(--white-off);
}
form input[type=range]::-webkit-slider-thumb {
	height: 20px;
	width: 8px;
	z-index: 2000;
	
	-webkit-appearance: none;
	background-color: var(--grey);
	border-radius: 4px;
	cursor: pointer;
}

button {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin-left: 4px;
	border: 0;
	vertical-align: middle;
	
	font-weight: bold;
	
	-webkit-appearance: none;
	background-color: transparent;
	border-radius: 4px;
	color: var(--grey);
	
	transition: all 0.2s ease-in-out;
}
button:hover {
	background-color: var(--white-off);
}
button:focus {
	outline: 0;
}